html, body {
    height:100%;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    overflow:hidden;
}

body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.menu {
    text-decoration: none;
    text-align: right;
    list-style-type: none;
    margin:0;
    padding:0;
    padding-right:50px;
    background-color: white;
    position: absolute;
    right: 0;
    width:100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.51);
    padding-right:20px;
}

.menu li {
    display:inline-block;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:20px;
    font-family: 'Baloo Tamma 2', cursive;
}

.menu li a {
    text-decoration: none;
    color:black;
    transition-delay: 100ms;
}

.menu li a:hover {
    color:gray;
}

.menuButton {
    color:white;
    background:none;
    border:none;
    font-size: 20px;
}

.upButton {
    background:white;
    width:5vh;
    height:5vh;
    border-radius: 5vh;
    position: absolute;
    border:none;
    top:84vh;
    right:5vh;
}

.upButton:hover {
    background-color:black;
}

.page {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    scroll-snap-align: center;
}

.downButton {
    position: absolute;
    margin:auto;
    padding:0;
    top:80vh;
    left:50vw;
    background-color: none;
    filter: invert(100%) sepia(0%) brightness(100%) contrast(100%);
}

.intro {
    text-align: left;
    font-size: 6vh;
    color:white;
    width:100%;
    height:100%;
    margin-top:60vh;
    margin-left:38%;

}

.position {
    width:100%;
}
.social {
    width:33%;
    display:inline-block;
}

/*intro*/
#page1 {
    width:100%;
    background-color: #AFFFEC;
    background-image: url(../img/sample1.jpg);
    background-position:center;
    background-size:cover;
}

#page2 {
    background-position:center;
    background-size:cover;
    background-image: url(../img/sample2.jpg);
}


footer {
    text-align: center;
}