/* 
Color Scheme
GREEN- #8bd4a2
YELLOW- #ffde59
Accent Orange - #ff8652
*/

html, body {
    height:100%;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    overflow:hidden;
    font-family: 'Proxima Nova Semibold', sans-serif;
}

@font-face {
    font-family: "Sunrise";
    src: url("../font/sunrise/sunrise.woff") format("woff"),
    url("../font/sunrise/sunrise.woff2") format("woff2"),
    url("../font/sunrise/sunrise.otf") format("opentype");
    }

@font-face {
    font-family: "Proxima Nova Bold";
    src:url("../font/proxima_nova/proxima_nova_bold-webfont.woff") format("woff"),
    url("../font/proxima_nova/proxima_nova_bold-webfont.woff2") format("woff2"),
    url("../font/proxima_nova/Proxima_Nova_Bold.otf");
}

@font-face {
    font-family: "Proxima Nova Semibold";
    src:url("../font/proxima_nova_regular/proxima_nova_alt_semibold-webfont.woff") format("woff"),
    url("../font/proxima_nova_regular/proxima_nova_alt_semibold-webfont.woff2") format("woff2"),
    url("../font/proxima_nova_regular/Proxima\ Nova\ Alt\ Regular.otf");
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #8bd4a2; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.menu {
    text-decoration: none;
    text-align: right;
    list-style-type: none;
    height:auto;
    margin:0;
    padding:0;
    background-color: #8bd4a2;
    position: absolute;
    right: 0;
    width:100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index:400;
}

.menu li {
    display:inline-block;
    padding-right:30px;
    margin-top:20px;
    margin-bottom: 20px;
    font-size:20px;
    font-family: 'Proxima Nova Bold',sans-serif;
    font-weight: 800;
}

.menu li a {
    text-decoration: none;
    color:white;
    transition-duration: 300ms;
    text-shadow: 2px 2px 8px rgba(206,89,55,0.6);
}

.menu li a:hover {
    color:gray;
}

.menu-logo {
    float: left;
    padding-left:20px;
    transition-duration: 300ms;
    margin:0px;
}

.menu-logo:hover {
    filter: invert(80%) sepia(0%) brightness(60%) contrast(80%);
}

.menuButton {
    color:white;
    background:none;
    border:none;
    outline:none;
    font-size: 20px;
    display:none;
    position: absolute;
    right:30px;
    filter: invert(100%) sepia(1%) saturate(7481%) hue-rotate(251deg) brightness(105%) contrast(98%);
}

.menuButton:hover {
    filter: invert(100%) sepia(0%) brightness(40%) contrast(100%);
}

.x-button {
    background:none;
    border:none;
    outline:none;
    display:none;
    filter: invert(100%) sepia(1%) saturate(7481%) hue-rotate(251deg) brightness(105%) contrast(98%);
}

.x-button:hover {
    filter: invert(100%) sepia(0%) brightness(40%) contrast(100%);
}

.upButton {
    width:10px;
    height:10px;
    position: absolute;
    border:none;
    top:88vh;
    text-align:right;
    padding-right:10px;
    right:60px;
    filter: invert(90%) sepia(9%) saturate(1429%) hue-rotate(78deg) brightness(88%) contrast(87%);
}

.upButton:hover {
    filter: invert(100%) sepia(0%) brightness(40%) contrast(100%);
}

.page {
    font-family: 'Proxima Nova Semibold', sans-serif;
    height: 100vh;
    scroll-snap-align: center;
    color:gray;
    font-size: large;
}

.downButton {
    position: absolute;                                                                                                              
    top:80vh;
    background-color: none;
    filter: invert(100%) sepia(0%) brightness(100%) contrast(100%);
    margin:auto; 
    width:100%;
}

.intro {
    font-size: 2.5vh;
    color:#8bd4a2;
    width:30%;
    float:left;
    position: relative;
    margin-left:4%;
    margin-right:4%;
    text-align: center;
    padding-top:160px;
}

.intro-img {

}

.intro-title {
    font-family: 'Sunrise', sans-serif;
    color:#8bd4a2;
    font-size:7vh; 
    margin-top:30px;
    text-align: left;
}

.short {
    text-align:left;
}

.titles {
    padding-top:130px;
    font-family: 'Sunrise', sans-serif;
    color:#8bd4a2;
    font-size: 8vh;
}

.position {
    width:100%;
}


/*intro*/
#page1 {
    width:100%;
    background-color: white;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/1-01.png);
}

/* Image Carousel */

/* Slideshow container */
.slideshow-container {
  position: relative;
  width:52%;
  top:20vh;
  height:60vh;
  border-radius: 10px;
  float:right;
  margin-right:5%;
  margin-left:5%;
  -webkit-box-shadow: 0px 0px 48px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 0px 48px -3px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 48px -3px rgba(0,0,0,0.23);
}

.img1 {
    height:60vh;
    width:100%;
    margin:auto;
    background-image:url(../img/events/img1.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.img2 {
    height:60vh;
    width:100%;
    margin:auto;
    background-image:url(../img/events/img2.png);
    background-size: cover;
    background-position: center;
    border-radius:10px;
}

.img3 {
    height:60vh;
    width:100%;
    margin:auto;
    background-image:url(../img/events/img3.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.dots-container {
    margin-left:auto;
    margin-right:auto;
    width:66px;
    margin-top:20px;
}

.dots {
    float:right;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color:  white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Our Mission */
#page2 {
    text-align: center;
    padding-left:15%;
    padding-right:15%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/2-01.png);
}

/* Team */
#page3 {
    text-align: center;
    padding-left:15%;
    padding-right:15%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/3-01.png);
}

.team-pic {
    height:50%;
}

/* Events Page */
#page4 {
    text-align: center;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/4-01.png);
}

.events-container {
    margin-top:20px;
    padding:10px;
    border-radius: 10px;
    margin-right:10%;
    margin-left:10%;
    -webkit-box-shadow: 0px 0px 60px -32px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 0px 60px -32px rgba(0,0,0,0.71);
    box-shadow: 0px 0px 60px -32px rgba(0,0,0,0.71);
}

.current-event {
    vertical-align: top;
    display:inline-block;
    width:35%;
    height:55vh;
}

.current-event-image {
    height:15vh;
    background-image: url(../img/events/banner.png);
    background-size: cover;
    background-position: center;
    border-radius:5px;
    margin:20px;
}

.current-event-description {
    height:24vh;
    margin:15px;
    text-align:left; 
    overflow-y: scroll;
}

.current-event-date {
    font-size:25px;
    text-align: left;
    padding-top:5px;
    margin-left:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

/* Past Events */
.past-events {
    vertical-align: top;
    display:inline-block;
    width:55%;
    height:55vh;
    overflow-y:scroll;
    font-size:3vh;
}

.past-event-item {
    padding-top: 10px;
    height: 80px;
    width:100%;
    display:table-cell;
}

.past-event-date {
    float:left;
    width:20%;
    height:80px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    border-right: solid gray 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:10px;
    padding-right: 10px;
}

.past-event-name {
    display:inline-block;
    width:50%;
    height:100px;
    text-align:left;
    font-size: 17px;
    vertical-align: middle;
    padding-top:10px;
}

.past-event-button {
    float:right;
    background-color:#8bd4a2;
    width:17%;
    height:80px;
    outline: none;
    border:none;
    cursor: pointer;
    margin-left:2px;
    vertical-align: middle;
    font-family: 'Open Sans',sans-serif;
    color:white;
    border-radius: 10px;
    margin-right:20px;
    margin-top:10px;
}

.past-event-button:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    color:gray;
}

.past-event-description-container {
    background-color:rgba(0, 0, 0, 0.66);
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:none;
}

.past-event-image {
    width:30vw;
    margin:20px
}

.past-event-description {
    display:block;
    margin:auto 0;
    position: absolute;
    width:60%;
    background:white;
    padding:20px;
    left:50%;
    margin-left:-30%;
    top:50%;
    margin-top:-15%;
    border-radius: 20px;
    padding:30px;
    font-size:1.5vw;
}

.past-event-close {
    display:table-cell;
    float:right;
    vertical-align: top;
    background:none;
    border:none;
    outline:none;
    filter: invert(79%) sepia(25%) saturate(451%) hue-rotate(86deg) brightness(92%) contrast(96%);
}

.past-event-close:hover {
    filter: invert(53%) sepia(0%) saturate(266%) hue-rotate(172deg) brightness(94%) contrast(97%);
}

/* Get Involved */
#page5 {
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/5-01.png);
}

/*Resources*/
#page6 {
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/6-01.png);
}

/* FAQ */
#page7 {
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/7-01.png);
}

.faq-question {
    margin-top:5vh;
}

.faq-show-button {
    background:none;
    outline: none;
    border:none;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(206,89,55,0.6));
    filter: drop-shadow(0px 0px 10px rgba(206,89,55,0.6));
}

.faq-show-button:hover {
    cursor: pointer;
}

.faq-answer {

}

/* Contact */
#page8 {
    text-align: center;
    height:89%;
    padding-left:10%;
    padding-right:10%;
    background-position:center;
    background-size:cover;
    background-image: url(../img/background/8-01.png);
}

.social {
    width:13vw;
    height:13vw;
    display:inline-block;
    margin:2vw;
    cursor: pointer;
}

.social:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(206,89,55,0.6));
    filter: drop-shadow(0px 0px 10px rgba(206,89,55,0.6));
    transition-duration: 400ms;
}

.ig {
    background-image: URL(../img/ig.png);
    background-size:cover;
}

.fb {
    background-image: URL(../img/fb.png);
    background-size:cover;
}

.ln {
    background-image: URL(../img/ln.png);
    background-size:cover;
}

.dd {
    background-image: URL(../img/dd.png);
    background-size:cover;
}

.email-button {
    text-align:center;
    border-radius:10px;
    background-color:#8bd4a2;
    margin:20px;
    padding:3vh 3vw 3vh 3vw;
    width:auto;
    color:white;
    font-family: 'Sunrise', sans-serif;
    font-size:5vh;
    outline: none;
    border:none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.email-button:hover {
    box-shadow:none;
    transition-duration: 500ms;
}

.foot {
    text-align: center;
    bottom:0px;
    display: inline-block;
    background-color:#8bd4a2;
    width:100%;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
}


@media only screen and (max-width: 1100px) {
    body {
        scroll-snap-type: none;
    }

    .menu-item {
      width:100%;
      text-align: center;
    }

    .menu li a {
        text-align: center;
        left:0;
    }

    .menuButton {
        display:block;
    }
    .intro {
        width:100%;
    }

    .short {
        padding-top:20px;
        margin-right:13%;
    }

    .slideshow-container {
        width:100%;
        display:none;
    }

    .x-button {
        display:none;
    }

    .team-pic {
        width:100%;
        height:auto;
    }

  }

  @media only screen and (max-width: 1000px) {
      .past-events {
          display:none;
      }
      .current-event {
          width:90%;
      }
  }